.DS_Store
*.sublime-workspace
.smbdelete*
*.acn
*.acr
*.alg
*.app
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.fmt
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.out
*.run.xml
*.synctex.gz
*.synctex(busy)
*.toc
*.tdo
DSGVO-ExtendedVersion.pdf